{%  extends 'шаблон.html' %}

{%  block title %}
Главная страница
{%  endblock %}

{% block content %}
<h1 style="text-align: center;">Главная страница</h1>

<p><b>Приветствуем вас в цветочном магазине "Bloom"! 🌸</b></p>

<p> Самые прекрасные цветы только у нас! </p>

<p>Мы гордимся тем, что предлагаем широчайший выбор свежих и красивых цветов для любого случая. "Лепестки счастья" – это место, где ваша фантазия оживает, а сердце наполняется радостью и восторгом.</p>


<p><b>Почему выбирают нас?</b></p>

<p>Вот основные преимущества:<p>

<li> Большой ассортимент. У нас есть все – от роскошных роз до нежных орхидей. Букеты, композиции, одиночные цветы – мы готовы удовлетворить вашу вкусовую палитру.</li>

<li> Свежесть гарантирована. Мы тщательно ухаживаем за каждым цветком, чтобы он пришел к вам свежим и красивым. Ведь только свежие цветы способны передать яркие эмоции и праздничное настроение.</li>

<li> Профессиональные флористы. Наши опытные флористы всегда рады создать для вас уникальный букет. Мы готовы воплотить мечты в реальность.</li>
<a href="{{ url_for('log_out') }}">Выйти из профиля</a>
{% endblock %}